body
{
	background-color: black;
}
header
{
	font-family: "Copperplate", fantasy;
	text-align: center;
	color: #c99700;
}
hr
{
	color: #c99700;
}
h2
{
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	color: #ff7f7f;
}
main
{
	color: white;
}
code
{
	font-family: "Lucida Console", "Courier New", monospace;
	position: relative;
	left: 300px;
	color: skyblue;
}
p
{
	text-align: center;
}
footer 
{
	font-family: "Copperplate", fantasy;
	text-align: center;
	font-weight: bold;
	color: #c99700;
}
